.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
}

.modal-content
{

    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    padding-bottom: 30px;
}


.close
{
    position: absolute;
    right: 25px;
    top: 0px;
}

.close:hover,.close:focus
{
    color: red;
    cursor: pointer;
}